services:
  db:
    image: postgres:16
    container_name: chatbot_pg
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - chatbot_pgdata:/var/lib/postgresql/data

volumes:
  chatbot_pgdata:
